# Lambda-functions

A single line function with no name - **anonymous functions**  
Defined as: `keyword input : output` - `lambda x : x`

Inputs can be sinlge or multiple parameters.
- You can pass `lambda` to a variable and invoke in the 'normal way' as we know from functions
- Or you can invoke directly by wrapping `lambda` and its parameters in brackets - (lambda_func)(params)
- Or you can use it as a parameter for another function, e.g. pd.Series.apply(lmabda_func)

In [1]:
a = lambda x: x + 10

In [2]:
a(5)

15

In [ ]:
def add_ten(x):
    return x + 10

In [4]:
(lambda x, y: x*y)(2, 7)

14

In [5]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6, 7, 8], 'b': [4, 5, 6, 7, 8, 9, 10, 11]})

In [6]:
df

   a   b
0  1   4
1  2   5
2  3   6
3  4   7
4  5   8
5  6   9
6  7  10
7  8  11

In [7]:
df.apply(lambda x: x+1)

   a   b
0  2   5
1  3   6
2  4   7
3  5   8
4  6   9
5  7  10
6  8  11
7  9  12

In [18]:
df['c'] = df['a'].apply(lambda n: str(n)+"colime")

In [19]:
df

   a   b        c
0  1   4  1colime
1  2   5  2colime
2  3   6  3colime
3  4   7  4colime
4  5   8  5colime
5  6   9  6colime
6  7  10  7colime
7  8  11  8colime

In [8]:
df['a'].apply(lambda x: 'even' if x%2 == 0 else x)

0       1
1    even
2       3
3    even
4       5
5    even
6       7
7    even
Name: a, dtype: object

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 8]

In [11]:
list(filter(lambda x: x%2==0, numbers))

[2, 4, 6, 8]